BR2_x86_64=y
BR2_ARCH_HAS_TOOLCHAIN_BUILDROOT=y
BR2_ARCH="x86_64"
BR2_NORMALIZED_ARCH="x86_64"
BR2_ENDIAN="LITTLE"
BR2_GCC_TARGET_ARCH="x86-64"
BR2_BINFMT_SUPPORTS_SHARED=y
BR2_READELF_ARCH_NAME="Advanced Micro Devices X86-64"
BR2_X86_CPU_HAS_MMX=y
BR2_X86_CPU_HAS_SSE=y
BR2_X86_CPU_HAS_SSE2=y
BR2_X86_CPU_HAS_SSE3=y
BR2_X86_CPU_HAS_SSSE3=y
BR2_X86_CPU_HAS_SSE4=y
BR2_X86_CPU_HAS_SSE42=y
BR2_X86_CPU_HAS_AVX=y
BR2_X86_CPU_HAS_AVX2=y
BR2_x86_x86_64=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/board/pc/linux_x64.config"

BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_11=y

BR2_PACKAGE_GLIBC_UTILS=y
BR2_TOOLCHAIN_GLIBC_GCONV_LIBS_COPY=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_OPTIMIZE_FAST=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/patches"
BR2_RELRO_FULL=y
BR2_FORTIFY_SOURCE_3=y
BR2_SSP_STRONG=y
BR2_ENABLE_DEBUG=n
BR2_TARGET_GENERIC_HOSTNAME="zebrafish"
BR2_TARGET_GENERIC_ISSUE="Welcome to Zebrafish!"
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt system/device_table_dev.txt $(BR2_EXTERNAL_ZEBRAFISH_PATH)/device-table.txt"
BR2_ROOTFS_DEVICE_TABLE_SUPPORTS_EXTENDED_ATTRIBUTES=y
BR2_ENABLE_LOCALE_WHITELIST="C C.UTF-8 en_US en_US.UTF-8"
BR2_GENERATE_LOCALE="C en_US"
BR2_TARGET_TZ_INFO=y
BR2_TARGET_LOCALTIME="Europe/Bucharest"
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/users.txt"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/board/pc/post-build.sh"
BR2_ROOTFS_POST_FAKEROOT_SCRIPT="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/post-fakeroot.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/board/pc/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://deb.tohka.us/kernel/stable/zfs.tar.xz"
BR2_LINUX_KERNEL_VERSION="custom"
BR2_LINUX_KERNEL_ZSTD=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y
BR2_PACKAGE_LINUX_TOOLS_CPUPOWER=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_ZEBRAFISH_PATH)/board/pc/busybox.config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_ZSTD=y
BR2_PACKAGE_ACPID=y
BR2_PACKAGE_EUDEV_RULES_GEN=y
BR2_PACKAGE_HDPARM=y
BR2_PACKAGE_PARTED=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_JITTERENTROPY_LIBRARY=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBCURL_CURL=y
BR2_PACKAGE_LIBCURL_WOLFSSL=y
BR2_PACKAGE_LIBCURL_OPENSSL=n
BR2_PACKAGE_LIBCAP=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IFTOP=y
# For rsync
BR2_PACKAGE_LIBNL=y
# BR2_PACKAGE_OPENSSH_SANDBOX is not set
BR2_PACKAGE_RSYNC=y
# BR2_PACKAGE_URANDOM_SCRIPTS is not set
BR2_PACKAGE_BASH=y
BR2_PACKAGE_INOTIFY_TOOLS=y
BR2_PACKAGE_TINI=y
BR2_PACKAGE_TMUX=y
BR2_PACKAGE_GETENT=y
BR2_PACKAGE_KMOD_TOOLS=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_NCDU=y
BR2_PACKAGE_HTOP=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_FULL=n
BR2_TARGET_ROOTFS_CPIO_NONE=n
BR2_TARGET_ROOTFS_CPIO_ZSTD=n
BR2_TARGET_ROOTFS_TAR=n
BR2_TARGET_ROOTFS_EROFS=n
BR2_PACKAGE_OPENDOAS=y
BR2_PACKAGE_FILE=n
BR2_PACKAGE_USERLANDZFS=y
BR2_PACKAGE_EFIBOOTMGR=y
BR2_PACKAGE_EFIVAR=y
BR2_PACKAGE_MBUFFER=y
BR2_PACKAGE_SOCAT=y
BR2_PACKAGE_PV=y
BR2_PACKAGE_ZREPL=y
BR2_PACKAGE_CONTAINERD=y
BR2_PACKAGE_NERDCTL=y
BR2_PACKAGE_MOBY_BUILDKIT=y
BR2_PACKAGE_CNI_PLUGINS=y
BR2_PACKAGE_CRUN=y
BR2_PACKAGE_RUNC=n
BR2_PACKAGE_YAJL=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IPTABLES_NFTABLES=y
BR2_PACKAGE_NFTABLES=y
BR2_PACKAGE_LIBSECCOMP=y
BR2_TARGET_GENERIC_GETTY=n
BR2_PACKAGE_COREUTILS=y

BR2_PACKAGE_SED=y
BR2_PACKAGE_PATCH=y
BR2_PACKAGE_GZIP=y
BR2_PACKAGE_LIBARCHIVE=y
BR2_PACKAGE_LIBARCHIVE_BSDTAR=y
BR2_PACKAGE_LIBARCHIVE_BSDCPIO=y
BR2_PACKAGE_LIBARCHIVE_BSDCAT=y
BR2_PACKAGE_ACL=y
BR2_PACKAGE_ATTR=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_ZLIB_NG=y

BR2_PACKAGE_JQ=y
BR2_PACKAGE_GREP=y
BR2_PACKAGE_UGREP=n
BR2_PACKAGE_PCRE2=y
BR2_PACKAGE_FINDUTILS=y
BR2_PACKAGE_PROCPS_NG=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_LTRACE=y

BR2_PACKAGE_NBD=y
BR2_PACKAGE_NBD_CLIENT=y
BR2_PACKAGE_NBD_SERVER=y
BR2_PACKAGE_NBD_TRDUMP=y
BR2_PACKAGE_WIREGUARD_TOOLS=y

BR2_PACKAGE_BIND=y
BR2_PACKAGE_BIND_TOOLS=y

BR2_PACKAGE_NGHTTP2=y
BR2_PACKAGE_NGHTTP3=y
BR2_PACKAGE_NGTCP2=y
BR2_PACKAGE_WOLFSSL=y
BR2_PACKAGE_WOLFSSL_ALL=y
BR2_PACKAGE_UNBOUND=y

BR2_PACKAGE_LIBUNISTRING=y
BR2_PACKAGE_LIBIDN2=y
BR2_PACKAGE_LIBPSL=y

BR2_PACKAGE_GIT=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBOPENSSL_BIN=y
BR2_PACKAGE_LIBOPENSSL_ENGINES=y

BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_LIBTOMCRYPT=y

BR2_PACKAGE_IPERF3=y
BR2_PACKAGE_NLOAD=y
BR2_PACKAGE_LSHW=y

BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_GDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y
BR2_PACKAGE_GPTFDISK_CGDISK=y

BR2_PACKAGE_CRONY=y
BR2_PACKAGE_KNOCKRS=y
BR2_PACKAGE_NODEEXPORTER=n
BR2_PACKAGE_ZFSEXPORTER=n

BR2_PACKAGE_POWERTOP=y
BR2_PACKAGE_PCIUTILS=y
BR2_PACKAGE_LIBTRACEFS=y

BR2_PACKAGE_NVME=y
BR2_PACKAGE_UTIL_LINUX_LIBUUID=y

BR2_PACKAGE_HOST_GO=y

BR2_USE_WCHAR=y
BR2_PACKAGE_NCURSES_WCHAR=y

BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_NFS_UTILS_NFSV4=y
BR2_PACKAGE_NFS_UTILS_GSS=n
BR2_PACKAGE_NFS_UTILS_RPCDEBUG=y
BR2_PACKAGE_NFS_UTILS_RPC_LOCKD=y
BR2_PACKAGE_NFS_UTILS_RPC_NFSD=y
BR2_PACKAGE_NFS_UTILS_RPC_RQUOTAD=n

BR2_PACKAGE_CIFS_UTILS=y

BR2_PACKAGE_DIVE=y

BR2_PACKAGE_GESFTPSERVER=y

BR2_PACKAGE_DOCKER_CLI=y
BR2_PACKAGE_DOCKER_COMPOSE=y
BR2_PACKAGE_DOCKER_CLI_BUILDX=y
BR2_PACKAGE_DOCKER_ENGINE=y
BR2_PACKAGE_DOCKER_ENGINE_DOCKER_INIT_TINI=y
